<p id="notice"><%= notice %></p>

<p>
  <b>Value:</b>
  <%= @grade.value %>
</p>

<p>
  <b>Date:</b>
  <%= @grade.date %>
</p>


<%= link_to 'Edit', edit_grade_path(@grade) %> |
<%= link_to 'Back', grades_path %>
