<%= form_for @student,html: {:class => "form-horizontal"} ,method:'put' do |f| %>
  <% if @student.errors.any? %>
    <div id="error_explanation" class="control-group error">
      <h2><%= pluralize(@student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
      <% @student.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.text_field :name ,value: @student.name , class: 'span2'   %>
  <%= f.text_field :email ,value: @student.email ,class: 'span1' %>
  <%= f.text_field :parent_email,value: @student.parent_email ,class: 'span2' %>
  <%= f.submit "Salveaza", class: 'btn-primary'%>
<% end %>
